//@import "~@angular/../../src/styles.styl"; // cool
@require "../../../../styles.styl"; // cool

.message-list{
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  padding-top: 0px;
  padding-bottom: 0px;
}
  .default-Scroll{
    overflow-y: scroll
  }
/*

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "." "." ".";

*/
//:host-context(.DarkTheme) {
//  mat-list{
//    mat-list-item{}
//  }
//}
