/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}


/********* LightTheme **********************************************************/
LightTheme-BaseColor = rgb(242, 244, 248); color = #f2f4f8;  // #f2f4f8;
LightTheme-colorCard = LightTheme-BaseColor - rgb(11, 16, 28);
LightTheme-colorBackground = LightTheme-BaseColor - rgb(49, 51, 55); color = #c1c1c1; // = rgb(193, 193, 193)
//LightTheme-colorText = #293145; // rgb(41, 49, 69);
LightTheme-colorText =  rgb(10, 20, 43); color = #0a142b; // #0a142b;
LightTheme-font-family = 'Comic Sans MS', 'Times New Roman';




/********* DarkTheme ************************************************************/
//DarkTheme-colorBackground = #0a142b; // rgb(10, 20, 43);
DarkTheme-BaseColor = rgb(41, 49, 69); color=#293145; // #293145;
DarkTheme-colorCard = DarkTheme-BaseColor + rgb(0, 6, 35); color=#253767; // #253767 = rgb(41, 55, 103);
DarkTheme-colorBackground = DarkTheme-BaseColor - rgb(11, 16, 28); color=#1e2129; // = rgb(30, 33, 41);
DarkTheme-colorText = rgb(0, 193, 0); color = #00c100; // #00c100;
DarkTheme-font-family = 'Courier New','Courier';





/*
!********* new Color Theme ******************************************************!
//DarkTheme-colorBackground = #0a142b; // rgb(10, 20, 43);
BaseColor = #1e2129;
colorBackground = BaseColor - rgb(*, *, *); // = #14161b = rgb(20, 22, 27);
colorCard = BaseColor - rgb(*, *, *); //
colorText = #00c100;


!********* new Color Theme ******************************************************!
BaseColor = #000;
colorBackground = BaseColor - rgb(*, *, *); //
colorCard = BaseColor - rgb(*, *, *); //
colorText = #000;*/


